* {
    margin: 0;
    padding: 0;
    font-family: Calibri;
    color: #fff;
    box-sizing: border-box;
}

html {
    background-color: #EA5959;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7vh;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;   
    justify-content: center;
    gap: 2rem;
    width: 1280px;
    max-width: 100%;
    padding: 2rem;
}

.soundItem {
    background-color: #FF9A9A;
    width: 20%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    border-radius: 4px;
    gap: 0.5rem;
    transition: translate 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    user-select: none;
}

/* new reorder idea */
.soundReorderWrapper {
    position: fixed;
    width: 75%;
    max-width: 750px;
    height: 85%;
    top: -100%;
    translate: 0 -50%;
    z-index: 1000;
    border-radius: 8px;
    background-color: #FF9A9A;
    box-shadow: 0 0 4px 2px #EA5959;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    transition: top 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
    overflow-y: scroll;
}

.soundReorderWrapper.active {
    top: 50%;
}

.soundReorderWrapper .xBtn {
    position: absolute;
    right: 1.5vw;
    top: 1.5vw;
    font-size: 1.5rem;
    cursor: pointer;
}

.soundReorderWrapper .xBtn:hover i {
    color: #EA5959;
}

.soundReorderWrapper h1 {
    font-size: 2.5rem;
}

.soundReorderWrapper .soundItemThumb {
    display: flex;
    min-height: 50px;
    height: 50px;
    max-height: 50px;
    width: 100%;
    align-items: center;
    padding: 4px;
    gap: 8px;
}

.soundReorderWrapper .soundItemThumb.hidden {
    display: none;
}

.soundReorderWrapper .soundItemThumb:hover {
    background-color: #EA5959;
}

.soundReorderWrapper .soundItemThumb.dragging {
    background-color: #EA5959;
    opacity: 0.5;
}

.soundReorderWrapper .soundItemThumb p {
    font-size: 1.5rem;
    flex-grow: 1;
    overflow: hidden;
}

.soundReorderWrapper .soundItemThumb .imgWrapper {
    height: 100%;
    aspect-ratio: 1;
}

.soundReorderWrapper .soundItemThumb .imgWrapper img {
    /* max-width: 100%; */
    max-height: 100%;
    object-position: center;
}

.soundReorderWrapper .soundItemThumb .drag {
    height: 100%;
    aspect-ratio: 1;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.soundReorderWrapper .soundItemThumb .remove {
    height: 100%;
    aspect-ratio: 1;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.soundReorderWrapper .soundItemThumb .drag:hover i {
    color: #FF9A9A;
}

.soundReorderWrapper .soundItemThumb .remove:hover i {
    color: #FF9A9A;
}

    

/* original reorder idea */
/* 
.soundItem.movable {
    animation: pulsing 2s linear infinite;
}

@keyframes pulsing {
    0% {
        filter: drop-shadow(0 0 1px #fff9);
    }
    50% {
        filter: drop-shadow(0 0 3px #fff9);
    }
    100% {
        filter: drop-shadow(0 0 1px #fff9);
    }
}

@keyframes flutter {
    0% {
        translate: -1px -1px;
    }
    25% {
        translate: 0px -0.5px;
    }
    50% {
        translate: 1px 1px;
    }
    75% {
        translate: -0.5px 0;
    }
    100% {
        translate: -1px -1px;
    }
} */

.soundItem h1 {
    width: 100%;
    word-wrap: break-word;
}

.soundItem:hover {
    translate: 0 -16px;
    box-shadow: 0 0 2px 2px #FF9A9A;
}

.soundItem.innactive {
    display: none;
}

.soundItem img {
    /* width: fit-content; */
    /* height: 60%; */
    object-fit: contain;
    width: 100%;
    pointer-events: none;

}

.soundItem label {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    user-select: none;
    pointer-events: none;
}

.soundItem label span {
    /* min-width: 1.5rem; */
    width: 3rem;
}

.soundItem label input[type="range"] {
    flex-grow: 1;
    user-select: all;
    pointer-events: all;
    background-color: #FF9A9A;
}

.soundItem label input[type="range"]::-webkit-slider-runnable-track,
.soundItem label input[type="range"]::-moz-range-track {
    background: #EA5959;
    border-radius: 1000px;
    border: 1px solid #EA5959;
}

.soundItem label input[type="range"]::-moz-range-thumb,
.soundItem label input[type="range"]::-webkit-slider-thumb {
    background-color: #EA5959;
    border: none;
    scale: 1.25;
}


.playWrapperSpacer {
    flex-grow: 1;
}

.playWrapper {
    display: flex;
    width: 100%;
    gap: 8px;
}

.soundItem button {
    width: 100%;
    border: none;
    background-color: #EA5959;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.15rem;    
    padding: 0.3rem 0;
    transition: scale 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.soundItem button:active {
    scale: 1.1;
}

.soundItem button:hover {
    filter: brightness(1.1);
}

.soundItem .settingsBtn {
    flex-basis: 25%;
    aspect-ratio: 1;
    background-color: transparent;
    font-size: 16px;
    font-weight: 900;
}

.soundItem .settingsBtn:active {
    scale: 1.25;
}

.soundItem .settingsBtn i {
    color: #EA5959;
    scale: 2.5 2.75;
}

.addSoundsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 20%;
}

.addSoundsWrapper button {
    min-height: 25%;
    border-radius: 1000px;
    width: 100%;
    background-color: #FF9A9A;
    border: none;
    /* box-shadow: 0 0 2px 2px rgb(190, 41, 41); */
    padding: 1rem;
    box-sizing: border-box;
    word-wrap: break-word;
    font-size: 1.5rem;
    font-weight: 800;
    cursor: pointer;
    /* transition: ; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s scale cubic-bezier(0.075, 0.82, 0.165, 1),
    translate 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.addSoundsWrapper button:active {
    scale: 1.1;
}

.addSoundsWrapper button:hover {
    filter: brightness(1.1);
    translate: 0 -8px;
}





/* sound creator */
.soundCreatorWrapper {
    position: fixed;
    top: -100%;
    left: 50%;
    translate: -50% -50%;
    z-index: 1000;
    background-color: #FF9A9A;
    box-shadow: 0 0 4px 2px #EA5959;
    padding: 16px;
    width: 45%;
    display: flex;
    height: 60%;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;
    transition: top 0.75s cubic-bezier(0.165, 0.84, 0.44, 1)
}

.soundCreatorWrapper.active {
    top: 50%;
}

.soundCreatorWrapper input.titleInput {
    background-color: #FF9A9A;
    border: none;
    font-size: 3rem;
    text-align: center;
    width: 100%;
}

.soundCreatorWrapper .imgWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 30vh;
    gap: 8px;
    align-items: center;
}

.soundCreatorWrapper .imgWrapper img {
    pointer-events: none;
    user-select: none;
}

.soundCreatorWrapper label {
    background-color: #FF9A9A;
    font-size: 1.25rem;
    border: 2px solid #EA5959;
    border-radius: 1000px;
    padding: 4px 16px;
    width: max-content;
    box-sizing: border-box;
    cursor: pointer;
    width: 60%;
}

.soundCreatorWrapper input[type="file"] {
    display: none;
}

.soundCreatorWrapper .imgWrapper img {
    max-height: 80%;
    object-fit: contain;
}

.soundCreatorWrapper .btnWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.soundCreatorWrapper .btnWrapper button {
    width: 25%;
    border-radius: 1000px;
    border: 2px solid #EA5959;
    background-color: #FF9A9A;
    cursor: pointer;
    font-size: 1.25rem;
}

.wrongDataError {
    position: fixed;
    animation: fade-up 1s linear;
    left: 50%;
    bottom: 100%;
    font-size: 1.5rem;
    translate: -50% 0;
    z-index: 1000;
    font-weight: 800;
}

@keyframes fade-up {
    0% {
        bottom: 0%;
        opacity: 1;
    }
    100% {
        bottom: 10%;
        opacity: 0;
    }
}



@media screen and (width <= 1000px) {
    .soundItem {
        width: 30%;
    }
}

@media screen and (width <= 800px) {
    .soundItem {
        width: 40%;
    }
}

@media screen and (width <= 550px) {
    .soundItem {
        width: 70%;
    }
}

@media screen and (width <= 350px) {
    .soundItem {
        width: 80%;
    }
}
