* {
    margin: 0;
    padding: 0;
    font-family: Calibri;
    color: #fff;
    box-sizing: border-box;
}

html {
    background-color: #EA5959;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7vh;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;   
    justify-content: center;
    gap: 2rem;
    max-width: 1280px;
    padding: 2rem;
}

.soundItem {
    background-color: #FF9A9A;
    flex-basis: 20%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    border-radius: 4px;
    gap: 0.5rem;
    transition: translate 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    user-select: none;
}

.soundItem:hover {
    translate: 0 -16px;
    box-shadow: 0 0 2px 2px #FF9A9A;
}

.soundItem.innactive {
    display: none;
}

.soundItem img {
    /* width: fit-content; */
    /* height: 60%; */
    object-fit: contain;
    width: 100%;
    pointer-events: none;

}

.soundItem label {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    user-select: none;
    pointer-events: none;
}

.soundItem label span {
    /* min-width: 1.5rem; */
    width: 3rem;
}

.soundItem label input[type="range"] {
    flex-grow: 1;
    user-select: all;
    pointer-events: all;
    background-color: #FF9A9A;
}

.soundItem label input[type="range"]::-webkit-slider-runnable-track,
.soundItem label input[type="range"]::-moz-range-track {
    background: #EA5959;
    border-radius: 1000px;
    border: 1px solid #EA5959;
}

.soundItem label input[type="range"]::-moz-range-thumb,
.soundItem label input[type="range"]::-webkit-slider-thumb {
    background-color: #EA5959;
    border: none;
    scale: 1.25;
}



.playWrapper {
    display: flex;
    width: 100%;
    gap: 8px;
}

.soundItem button {
    width: 100%;
    border: none;
    background-color: #EA5959;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.15rem;    
    transition: scale 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.soundItem button:active {
    scale: 1.1;
}

.soundItem button:hover {
    filter: brightness(1.1);
}

.soundItem .settingsBtn {
    flex-basis: 25%;
    aspect-ratio: 1;
    background-color: transparent;
    font-size: 16px;
    font-weight: 900;
}

.soundItem .settingsBtn:active {
    scale: 1.25;
}

.soundItem .settingsBtn i {
    color: #EA5959;
    scale: 2.5 2.75;
}

.addSoundsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.addSoundsWrapper button {
    min-height: 25%;
    border-radius: 1000px;
    width: 100%;
    background-color: #FF9A9A;
    border: none;
    /* box-shadow: 0 0 2px 2px rgb(190, 41, 41); */
    padding: 1rem;
    box-sizing: border-box;
    word-wrap: break-word;
    font-size: 1.5rem;
    font-weight: 800;
    cursor: pointer;
    /* transition: ; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s scale cubic-bezier(0.075, 0.82, 0.165, 1),
    translate 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.addSoundsWrapper button:active {
    scale: 1.1;
}

.addSoundsWrapper button:hover {
    filter: brightness(1.1);
    translate: 0 -8px;
}





/* sound creator */
.soundCreatorWrapper {
    position: fixed;
    top: -100%;
    left: 50%;
    translate: -50% -50%;
    z-index: 1000;
    background-color: #FF9A9A;
    box-shadow: 0 0 4px 2px #EA5959;
    padding: 16px;
    width: 45%;
    display: flex;
    height: 60%;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;
    transition: top 0.75s cubic-bezier(0.165, 0.84, 0.44, 1)
}

.soundCreatorWrapper.active {
    top: 50%;
}

.soundCreatorWrapper input.titleInput {
    background-color: #FF9A9A;
    border: none;
    font-size: 3rem;
    text-align: center;
    width: 100%;
}

.soundCreatorWrapper .imgWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 30vh;
    gap: 8px;
    align-items: center;
}

.soundCreatorWrapper label {
    background-color: #FF9A9A;
    font-size: 1.25rem;
    border: 2px solid #EA5959;
    border-radius: 1000px;
    padding: 4px 16px;
    width: max-content;
    box-sizing: border-box;
    cursor: pointer;
    width: 60%;
}

.soundCreatorWrapper input[type="file"] {
    display: none;
}

.soundCreatorWrapper .imgWrapper img {
    max-height: 80%;
    object-fit: contain;
}

.soundCreatorWrapper .btnWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.soundCreatorWrapper .btnWrapper button {
    width: 25%;
    border-radius: 1000px;
    border: 2px solid #EA5959;
    background-color: #FF9A9A;
    cursor: pointer;
    font-size: 1.25rem;
}





@media screen and (width <= 800px) {
    .soundItem {
        width: 40%;
    }
}